<div class="header">
  <h1 class="walltr-logo">WallTr</h1>
  <h2 class="wall-name" ng-click="toggleWalls()">{{currentWall.name}}</h2>

  <div class="available-walls" ng-show="showWalls">
    <ul>
      <li ng-repeat="wall in walls | orderBy:'name'">{{wall.name}}</li>
    </ul>
    <div class="new-wall center">
      <textarea rows="1" placeholder="New wall" id="new-wall" ng-model="newWall"></textarea>
      <input type="submit" value="Create" ng-click="addWall(newWall)">
    </div>
  </div>

  <p class="user-details"><img gravatar-src="auth.user.email" gravatar-size="50" class="user-image" alt="{{auth.user.name}}">{{users[auth.user.email]}}</p>
</div>

<div class="new-post center">
  <textarea rows="1" placeholder="What's on your mind?" id="text" ng-model="text"></textarea>
  <input type="submit" value="Post" ng-click="addPost(text)">
</div>

<div class="post center" ng-repeat="post in posts | orderBy:'-timestamp'">

  <div class="post-parent">
    <div class="post-meta">
      <img gravatar-src="post.user" gravatar-size="70" class="user-image" alt="{{auth.user.name}}">
      <p class="date">
        <span class="month">{{post.timestamp | date:'MMM'}}</span>
        <span class="day">{{post.timestamp | date:'dd'}}</span>
        <span class="year">{{post.timestamp | date:'yyyy'}}</span>
      </p>
    </div>

    <div class="post-content legible">
      <p class="post-content-meta"><span class="user-name">{{users[post.user]}}</span> {{post.timestamp | timeago}}</p>
      <p ng-bind-html="post.text | newlines"></p>
    </div>
  </div>

  <div class="post-comment" ng-repeat="child in post.children | orderBy:'timestamp'">
    <div class="post-meta">
      <img gravatar-src="child.user" gravatar-size="70" class="user-image" alt="{{user.name}}">
    </div>
    <div class="post-content legible">
      <p class="post-content-meta"><span class="user-name">{{users[child.user]}}</span> {{child.timestamp | timeago}}</p>
      <p ng-bind-html="child.text | newlines"></p>
    </div>
  </div>

  <div class="new-post-comment">
    <textarea rows="1" ng-model="post.newComment"></textarea>
    <input type="submit" value="Comment" ng-click="addComment(post, post.newComment)">
  </div>
</div>
