<div class="header">
  <h1 class="walltr-logo">WallTr</h1>
  <h2 class="wall-name">Walltrs interna, well, wall</h2>
  <p class="user-details"><img gravatar-src="user.email" gravatar-size="50" class="user-image" alt="{{user.name}}">{{currentUserName}}</p>
</div>

<div class="new-post center">
  <textarea rows="1" placeholder="What's on your mind?" id="text" ng-model="text"></textarea>
  <input type="submit" value="Post" ng-click="addPost(text)">
</div>

<div class="post center" ng-repeat="post in posts | orderBy:'-timestamp'">

  <div class="post-parent">
    <div class="post-meta">
      <img gravatar-src="user.email" gravatar-size="70" class="user-image" alt="{{user.name}}">
      <p class="date">
        <span class="month">{{post.timestamp | date:'MMM'}}</span>
        <span class="day">{{post.timestamp | date:'dd'}}</span>
        <span class="year">{{post.timestamp | date:'yyyy'}}</span>
      </p>
    </div>

    <div class="post-content legible">
      <p class="post-content-meta"><span class="user-name">{{users[post.user].name}}</span>{{post.timestamp | timeago}}</p>
      <p>{{post.text}}</p>
    </div>
  </div>

  <div class="post-comment" ng-repeat="child in post.children | orderBy:'timestamp'">
    <div class="post-meta">
      <img gravatar-src="user.email" gravatar-size="70" class="user-image" alt="{{user.name}}">
    </div>
    <div class="post-content legible">
      <p class="post-content-meta"><span class="user-name">{{users[child.user].name}}</span>{{child.timestamp | timeago}}</p>
      <p>{{child.text}}</p>
    </div>
  </div>

  <div class="new-post-comment">
    <textarea rows="1" ng-model="comment"></textarea>
    <input type="submit" value="Comment" ng-click="addComment(post, comment)">
  </div>
</div>
